<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                  <binding name="BasicHttpBinding_IVPMobileService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                           maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
                    <security mode="TransportCredentialOnly"/>
                    <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
                  </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44324/VPMobileService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVPMobileService"
                contract="VPMobileService.IVPMobileService" name="BasicHttpBinding_IVPMobileService" />
        </client>
    </system.serviceModel>
</configuration>