<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VP_Mobile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VP_Mobile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                  <binding name="BasicHttpBinding_IVPMobileService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
                    <security mode="TransportCredentialOnly"/>
                    <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
                  </binding>
                <binding name="BasicHttpBinding_IVPMService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
                  <security mode="TransportCredentialOnly"/>
                  <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
                </binding>
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:52031/VPMobileService/VPMobileService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVPMobileService" contract="VPMobileService.IVPMobileService" name="BasicHttpBinding_IVPMobileService"/>
                <endpoint address="http://localhost:59492/VPCoreService/VPMService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVPMService" contract="VPService.IVPMService" name="BasicHttpBinding_IVPMService"/>
        </client>
    </system.serviceModel>
    <userSettings>
        <VP_Mobile.Properties.Settings>
            <setting name="UnitNumber" serializeAs="String">
                <value/>
            </setting>
            <setting name="IncidentZoomWidth" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="IncidentRefreshInterval" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="GpsKeepCentered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GpsKeepNorth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRoute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncidentLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AvlLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AvlLocLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GpsLocLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HiddenCallTypes" serializeAs="String">
                <value/>
            </setting>
            <setting name="DynamicZoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastConfig" serializeAs="String">
                <value/>
            </setting>
        </VP_Mobile.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <VP_Mobile.Properties.Settings>
            <setting name="AutoOpenLastConfig" serializeAs="String">
                <value>False</value>
            </setting>
        </VP_Mobile.Properties.Settings>
    </applicationSettings>
</configuration>
