<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VPMobileAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IVPMobileService" />
        <binding name="BasicHttpBinding_IVPMService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/VPMobileService/VPMobileservice.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVPMobileService"
        contract="VPMobileService.IVPMobileService" name="BasicHttpBinding_IVPMobileService" />
      <endpoint address="http://localhost/VPCoreService/VPMService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVPMService"
        contract="VPService.IVPMService" name="BasicHttpBinding_IVPMService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <VPMobileAdmin.Properties.Settings>
      <setting name="DefaultArcgisServer" serializeAs="String">
        <value>http://poseidon/arcgis/rest/services/</value>
      </setting>
      <setting name="AvlServerAddress" serializeAs="String">
        <value />
      </setting>
    </VPMobileAdmin.Properties.Settings>
  </applicationSettings>
</configuration>